

#button{
    -fx-background-color:
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
        }

.radio-button{

  -fx--position: right top ;
  -fx-padding:10;
}

.check-box{

  -fx-background-color: transparent;

-fx-background-position: left center ;
-fx-background-repeat: stretch;
  -fx-background-size: 40;
  -fx-padding:10;
  -fx-background-image: url("file:res/close2.png");

}



.check-box>.box{

-fx-background-color: transparent;
}

.check-box>.box>.mark{


-fx-background-color: transparent;
}


.check-box:selected{


  -fx-background-color: transparent;
  -fx-background-size:40;
 -fx-padding:10;
 -fx-shape: none;
 -fx-background-position: left center;

     -fx-background-repeat: stretch;


-fx-background-image: url("file:res/open.png");


}