 .root {
    -fx-background-color: #cfd8dc ;
} 

.button {
    -fx-text-fill: white;
    -fx-font-family: "Consolas, Monaco, monospace",Georgia,Serif;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#212121   , #757575   );
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.text {
	-fx-font-family: "Menlo";
	-fx-font-size: 16px;
}
.text_15 {
	-fx-font-family: "Menlo";
	-fx-font-size: 15px;
}

text_memory {
	-fx-font-family: "Menlo";
	-fx-font-size: 15px;
}

.text-area .content{
      -fx-background-color: #f9f7e8;
  }
  
.scroll-pane > .viewport {
   -fx-background-color: #f9f7e8;
}